:root {
  --primary-color: #36013f;
  --shadow: 0px 0px 15px rgba(36, 122, 253, 0.4);
  --font-head: "Julius Sans One", sans-serif;
  --font-text: "Jura", sans-serif;
  --back-color: rgba(54, 1, 63, 0.1);
  --links:   rgb(36, 122, 253);

}
h2, h3, h4, .footer {
  font-family: var(--font-text);
}
h1 {
  font-family: var(--font-head);
  font-size: 66px;
}
h2 {
  font-size: 35px;
}
h3 {
  font-size: 35px;
}
h4 {
  font-size: 25px;
}
.white-text {
  color: white;
}
.hero {
  width: 100%;
  background: black;
  padding: 80px 0;
  text-align: center;
}
.book-button {
  padding: 15px 20px;
  background: var(--primary-color);
  text-align: center;
  font-size: 20px;
  box-shadow: var(--shadow);
}
.photo-section {
  text-align: center;
}
.learn-button {
  padding: 5px 15px;
  text-align: center;
  font-size: 20px;
  margin-top: 5px;
  background: rgba(36, 122, 253, 0.2);
}
.learn-button:hover {
  border: 1px solid var(--primary-color);
  background: rgba(36, 122, 253, 0.2);
  color: var(--primary-color);
  font-weight: 900;
}
.learn-button a {
  font-family: var(--font-text);
  color: black;
  text-decoration: none;
}
.book-button a {
  font-family: var(--font-text);
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.hero img {
  filter: drop-shadow(var(--shadow));
}


.content-photo {
  border-radius: 50%;
}
.content {
  width: 100%;
  padding: 40px;
}
.body-content {
  background-color: var(--back-color);
}
nav .logo {
  font-size: 50px;
  color: var(--primary-color);
}
nav {
  padding: 20px;
  font-family: var(--font-text);
  font-size: 20px;
  font-weight: bolder;
}
nav li {
  display: inline;
  list-style: none;
  margin-left: 15px;
}
nav li a {
  text-decoration: none;
  color: var(--links);
}
nav li a.active {
  color: var(--primary-color);
}
.media-links a, .contact-page-links a {
 
  padding: 0 20px;
  font-size: 30px;
  color: var(--links);
  transition: all 150ms ease-in-out;
}
.media-links a:hover {
  color: white;
  background: black;
  padding: 5px 14px;
  border-radius: 50%;
}
.contact-box {
  background: var(--back-color);
  padding: 20px;
  border-radius: 10px;
}
.contact-page-links {
  font-family: var(--font-text);
  font-size: 20px;
  font-weight: bolder;
}
.contact-page-links a:hover {
  color: var(--primary-color);
}
@media (max-width: 992px) {
  .hide-1 {
    display: none;
  }
}
@media (max-width: 576px) {
  h1 {
    font-size: 40px;
  }
  h2,
  h3 {
    font-size: 30px;
  }
  .hide-2 {
    display: none;
  }
  .hero {
    padding: 40px 0;
  }
  .content {
    text-align: center;
    padding: 15px;
  }
}